$background: #E5E5E5;
$background-light: #FCFCFC;
$white:#FFFFFF;

$black-100:#FAF9F9;
$black-200:#ECECEC;
$black-300:#E2E2E2;
$black-400:#C0C0C0;
$black-500:#9E9E9E;
$black-600:#797979;
$black-700:#3C3C3C;
$black-800:#242424;
$black-900:#0C0C0C;

$blue-100:#EFF8FF;
$blue-200:#D6EBFF;
$blue-300:#8BC7FF;
$blue-400:#57A2E8;
$blue-500:#378BD8;
$blue-600:#2D81CE;
$blue-700:#1767B1;
$blue-800:#0A569B;
$blue-900:#004381;

$green-100:#C8FFBF;
$green-200:#A6FF97;
$green-300:#88F576;
$green-400:#67E453;
$green-500:#53D43E;
$green-600:#40BF2B;
$green-700:#39924C;
$green-800:#1F8235;
$green-900:#0D7A25;

$red-100:#FFB5B5;
$red-200:#FF9B9B;
$red-300:#FF8686;
$red-400:#FD4848;
$red-500:#EC2222;
$red-600:#CF2E2E;
$red-700:#CC0E0E;
$red-800:#C11F1F;
$red-900:#B91212;

$yellow-100:#FFF7B4;
$yellow-200:#FFF59C;
$yellow-300:#FEF078;
$yellow-400:#FFEC3F;
$yellow-500:#FFE600;
$yellow-600:#ECD402;
$yellow-700:#DDC702;
$yellow-800:#D4C004;
$yellow-900:#BAA700;