$gray-menu-text: #E2E2E2;
$main-blue-text:  #2D81CE;;
$blue-botton: #EFF8FF;;
$blue-link-color:  #1767B1;;
$darkblue--text: #378BD8;
$headhunter-color: #57A2E8;
$black-menu-text: #0C0C0C;
$skills_color: #797979;
$border-color: #E2E2E2;
$light-black-text: #3C3C3C;
$background-gray: #FAF9F9;
$background: #FFFFFF;
$vacancy-color: #242424;
$light-gray-text: #C0C0C0;
