.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(20, 19, 19);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(20, 19, 19);
}

.App-link {
  color: #61dafb;
}

.task__list{
  border: 2px black;
  width: 300px
}

.task__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.createButton{
  display: flex;
  justify-content: center;
}

.task{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.active{
    border: 2px double green;
}
.completed{
    border: 2px double red;
}
.checkbox{
    text-decoration: line-through;
}
.input{
    border: 0px
}
.inputLineThrough{
    text-decoration: line-through
}