body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Task {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  padding: 2px;
}

.Subtask{
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  padding: 2px;
  margin-left: 20px;
}

.BigTask{
  border: 2px solid black;
  margin-top: 2px;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.ChangeButtons{
  display: flex;
  flex-direction: row;
}

button{
  text-align: center;
}